[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ozanunsal
[access "refs/for/refs/*"]
	read = group user/ozanunsal
	push = group user/ozanunsal
	label-Code-Review = -2..+2 group user/ozanunsal
	label-Verified = -1..+1 group user/ozanunsal
	rebase = group user/ozanunsal
	removeReviewer = group user/ozanunsal
	submit = group user/ozanunsal
[access "refs/heads/*"]
	read = group user/ozanunsal
	create = group user/ozanunsal
	push = +force group user/ozanunsal
	pushMerge = group user/ozanunsal
[access "refs/tags/*"]
	push = group user/ozanunsal
	push = +force group user/ozanunsal
